@model MVC_Practica_AWS.Models.Apuesta

@{
    ViewData["Title"] = "CrearApuesta";
}

<h1>CrearApuesta</h1>

<h4>Apuesta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearApuesta">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEquipoLocal" class="control-label"></label>
                <input asp-for="IdEquipoLocal" class="form-control" />
                <span asp-validation-for="IdEquipoLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEquipoVisitante" class="control-label"></label>
                <input asp-for="IdEquipoVisitante" class="form-control" />
                <span asp-validation-for="IdEquipoVisitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GolLocal" class="control-label"></label>
                <input asp-for="GolLocal" class="form-control" />
                <span asp-validation-for="GolLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GolVisitante" class="control-label"></label>
                <input asp-for="GolVisitante" class="form-control" />
                <span asp-validation-for="GolVisitante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
